nav{
    width: 100%;
    margin: 0 auto;
    background-color: steelblue;
    position: sticky;
    top: 0px;
    border-radius: 10px;
}
nav ul
{
    padding-inline-start: 0px;
    list-style-type: none;
}
nav ul li
{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    /* display: inline-block; */
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a
{
    display: block;
    text-decoration: none;
    color: rgb(3, 85, 3);
    border-bottom: 2px solid transparent;
    padding: 10px 10px;
    transition: all 0.6s ease-out;
}
nav a:hover
{
    color: rgb(10, 167, 101);
    background-color: rgb(55, 97, 173);
    border-radius: 15px;
    border-bottom: 2px solid gold;
}
.dropdown-content
{
    /* display: none; */
    box-shadow: 0px 1px 2px #CCC;
    background-color: mediumaquamarine;
    position: absolute;
    width: 100%;
    padding-inline-start: 0px;
    z-index: 1000;
    /* transition-delay: 2s; */
}
/*A dÃ©comenter si pb JAVASCRIPT*/
/* 
nav > ul li:hover .dropdown-content 
{
    border-radius: 10px;
    display: block;
} */

/*a enlever lors de tests de mises en page*/
/* #thisisafuckingheader 
{
    margin-bottom: 100px;
} */
/**/
.dropdown-content li
{

    list-style: none;
    float: none;
    width: 100%;
}

.dropdown-content a
{
    transition: all 1s ease-out;
    border-bottom: none;
}

.dropdown-content a:hover
{

    border-radius: 20px;
    border-bottom: none;
    background-color: mediumseagreen;
    color: rgb(55, 97, 173);
    
}

.dropdown > a::after
{
    font-size: 12px;
}


#photos_creators
{
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}


#creator_Master1
{
    vertical-align: middle;
    margin-right: 50px;
    border-radius: 15px;
    margin-bottom: 10px;
}
#creator_Master2
{
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 15px;
}

#Footer
{
    border-radius: 20px;
    background-color: steelblue;
    text-align: center;
    /* margin-top: 50vh; */
}

footer a
{
    text-decoration: none;
}






